$theme: #3586EF;
$base: #ECF0F3;
$black: #242951;
$white: #f4f7fa;
$shadow-xs: -1px -1px 2px #ffffff, 2px 2px 5px rgba(2, 27, 50, 0.16);
$shadow-s: -2px -2px 4px #ffffff, 3px 3px 8px rgba(2, 27, 50, 0.16);
$shadow-m: -3px -3px 10px #ffffff, 4px 5px 14px rgba(2, 27, 50, 0.16);
$shadow-inner-xs: -1px -1px 2px #ffffff inset, 2px 2px 5px rgba(2, 27, 50, 0.16) inset;
$shadow-inner-s: -2px -2px 4px #ffffff inset,
  3px 3px 8px rgba(2, 27, 50, 0.16) inset;
$shadow-inner-m: -3px -3px 10px #ffffff inset,
  4px 5px 14px rgba(2, 27, 50, 0.16) inset;